# Creating a Zipline bundle

## Required data for Zipline

The data for zipline uses the following attributes:

| Data                  | Database name | Zipline name  |
|-----------------------|---------------|---------------|
| symbol (or isin?)     | n/a           | symbol        |
| date                  | Date          | date          |
| unadjusted_open       | Open          | open          |
| unadjusted_high       | High          | high          |
| unadjusted_low        | Low           | low           |
| unadjusted_close      | Close         | close         |
| unadjusted_volume     | Volume        | volume        |
| splits                | Splits        | splits        |
| dividends             | Dividends     | dividends     |

In [103]:
import pandas as pd 
import pg8000
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, String, MetaData
from datetime import datetime, date, timedelta
import math
import numpy as np

In [104]:
universe = [
    { 'isin': 'CA0585861085', 'symbol': 'PO0.F', 'name': "Ballard Power" },
    { 'isin': 'GB00B0130H42', 'symbol': 'IJ8.F', 'name': "ITM Power" },
    { 'isin': 'NO0010081235', 'symbol': 'D7G.F', 'name': "Nel" },
    { 'isin': 'SE0006425815', 'symbol': '27W.F', 'name': "Powercell Sweden" },
    { 'isin': 'US72919P2020', 'symbol': 'PLUN.F','name': "Plug Power" },
    { 'isin': 'NO0003067902', 'symbol': '2HX.F', 'name': "Hexagon Composites" },
    { 'isin': 'FR0000120073', 'symbol': 'AIL.DE','name': "Air Liquide" },
    { 'isin': 'IE00BZ12WP82', 'symbol': 'LIN.F', 'name': "Linde" },
    { 'isin': 'US2310211063', 'symbol': 'CUM.F', 'name': 'Cummins'} ,
    { 'isin': 'FR0011742329', 'symbol': 'M6P.F', 'name': 'McPhy Energy S.A.'},    
    # { 'isin': 'US6541101050', 'name': 'Nikola Corporation','symbol': '8NI.F' }, 
    { 'isin': 'DE000A0HL8N9', 'name': '2G Energy',  'symbol': '2GB.DE' }
]

In [105]:
connection_def = "postgresql+pg8000://quotes:clue0QS-train@raspberrypi/quotes"
engine = create_engine(connection_def)

In [106]:
data_list = []

for asset in universe:
    isin = asset['isin']
    data_table = pd.read_sql(isin, engine,index_col=False, parse_dates={'Dates': '%Y-%m-%d'})

    # rename to columns that zipline can process
    data_table.rename(columns={
            'Date': 'date',
            'Open': 'open',
            'High': 'high',
            'Low': 'low',
            'Close': 'close',
            'Volume': 'volume',
            'Dividends': 'dividends',
            'Stock Splits': 'split_ratio'
        }, inplace=True, copy=False)

    # insert symbol column as the first column, all values set to isin value.
    data_table.insert(0, 'symbol', isin)

    data_table.sort_values( ['symbol', 'date'], ascending=[True, True] )
    data_list.append(data_table);

all_data = pd.concat(data_list, axis=0)
all_data

,symbol,date,close,high,low,open,volume,dividends,split_ratio
0,CA0585861085,2007-12-28,3.51,3.51,3.43,3.48,28084.0,0.0,0.0
1,CA0585861085,2008-01-02,3.65,3.72,3.59,3.64,19930.0,0.0,0.0
2,CA0585861085,2008-01-03,3.84,3.85,3.57,3.63,32697.0,0.0,0.0
3,CA0585861085,2008-01-04,3.64,3.93,3.62,3.84,47130.0,0.0,0.0
4,CA0585861085,2008-01-07,3.67,3.67,3.45,3.60,34835.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3112,DE000A0HL8N9,2020-07-13,84.90,84.90,79.00,80.10,14841.0,0.0,0.0
3113,DE000A0HL8N9,2020-07-14,81.50,83.90,78.90,81.20,11623.0,0.0,0.0
3114,DE000A0HL8N9,2020-07-15,80.60,82.70,78.60,82.00,17815.0,0.0,0.0
3115,DE000A0HL8N9,2020-07-16,79.40,80.10,77.20,79.80,11078.0,0.0,0.0
3116,DE000A0HL8N9,2020-07-17,79.60,80.30,78.50,79.90,5314.0,0.0,0.0

In [107]:
def gen_asset_metadata(data, show_progress):
    if show_progress:
        print('Generating asset metadata.')
        
    data = data.groupby(
        by='symbol'
    ).agg(
        {'date': [np.min, np.max]}
    )
    data.reset_index(inplace=True)
    data['start_date'] = data.date.amin
    data['end_date'] = data.date.amax
    del data['date']
    data.columns = data.columns.get_level_values(0)
    data['auto_close_date'] = data['end_date'].values + pd.Timedelta(days=1)
    return data

In [108]:
gen_asset_metadata(all_data, True)

Generating asset metadata.

          symbol start_date   end_date auto_close_date
0   CA0585861085 2007-12-28 2020-07-17      2020-07-18
1   DE000A0HL8N9 2007-07-31 2020-07-17      2020-07-18
2   FR0000120073 2007-12-28 2020-07-17      2020-07-18
3   FR0011742329 2014-03-26 2020-07-17      2020-07-18
4   GB00B0130H42 2006-03-02 2020-07-17      2020-07-18
5   IE00BZ12WP82 2000-09-18 2020-07-17      2020-07-18
6   NO0003067902 2014-03-10 2020-07-17      2020-07-18
7   NO0010081235 2017-10-09 2020-07-17      2020-07-18
8   SE0006425815 2017-11-09 2020-07-17      2020-07-18
9   US2310211063 2001-02-22 2020-07-17      2020-07-18
10  US72919P2020 2000-01-03 2020-07-17      2020-07-18

In [109]:
all_data

,symbol,date,close,high,low,open,volume,dividends,split_ratio
0,CA0585861085,2007-12-28,3.51,3.51,3.43,3.48,28084.0,0.0,0.0
1,CA0585861085,2008-01-02,3.65,3.72,3.59,3.64,19930.0,0.0,0.0
2,CA0585861085,2008-01-03,3.84,3.85,3.57,3.63,32697.0,0.0,0.0
3,CA0585861085,2008-01-04,3.64,3.93,3.62,3.84,47130.0,0.0,0.0
4,CA0585861085,2008-01-07,3.67,3.67,3.45,3.60,34835.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3112,DE000A0HL8N9,2020-07-13,84.90,84.90,79.00,80.10,14841.0,0.0,0.0
3113,DE000A0HL8N9,2020-07-14,81.50,83.90,78.90,81.20,11623.0,0.0,0.0
3114,DE000A0HL8N9,2020-07-15,80.60,82.70,78.60,82.00,17815.0,0.0,0.0
3115,DE000A0HL8N9,2020-07-16,79.40,80.10,77.20,79.80,11078.0,0.0,0.0
3116,DE000A0HL8N9,2020-07-17,79.60,80.30,78.50,79.90,5314.0,0.0,0.0

In [110]:
def parse_splits(data, show_progress):
    if show_progress:
        print('Parsing split data.')
    data['split_ratio'] = 1.0 / data.split_ratio
    data.rename(
        columns={
            'split_ratio': 'ratio',
            'date': 'effective_date',
        },
        inplace=True,
        copy=False,
    )
    if show_progress:
        print(data.info())
        print(data.head())
    return data

def parse_dividends(data, show_progress):
    if show_progress:
        print('Parsing dividend data.')
    data['record_date'] = data['declared_date'] = data['pay_date'] = pd.NaT
    data.rename(columns={'date': 'ex_date',
                         'dividends': 'amount'}, inplace=True, copy=False)
    if show_progress:
        print(data.info())
        print(data.head())
    return data

In [111]:
splits = parse_splits(all_data, True)
splits.loc[splits.ratio != 1]

Parsing split data.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 31426 entries, 0 to 3116
Data columns (total 9 columns):
symbol            31426 non-null object
effective_date    31426 non-null datetime64[ns]
close             31423 non-null float64
high              31423 non-null float64
low               31423 non-null float64
open              31423 non-null float64
volume            31423 non-null float64
dividends         31426 non-null float64
ratio             31426 non-null float64
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 3.0+ MB
None
         symbol effective_date  close  high   low  open   volume  dividends  \
0  CA0585861085     2007-12-28   3.51  3.51  3.43  3.48  28084.0        0.0
1  CA0585861085     2008-01-02   3.65  3.72  3.59  3.64  19930.0        0.0
2  CA0585861085     2008-01-03   3.84  3.85  3.57  3.63  32697.0        0.0
3  CA0585861085     2008-01-04   3.64  3.93  3.62  3.84  47130.0        0.0
4  CA0585861085     2008-01-07   3.67  3.67  3.45  3.60  34835.0        0.0

   ratio
0    inf
1    inf
2    inf
3    inf
4    inf

,symbol,effective_date,close,high,low,open,volume,dividends,ratio
0,CA0585861085,2007-12-28,3.51,3.51,3.43,3.48,28084.0,0.0,inf
1,CA0585861085,2008-01-02,3.65,3.72,3.59,3.64,19930.0,0.0,inf
2,CA0585861085,2008-01-03,3.84,3.85,3.57,3.63,32697.0,0.0,inf
3,CA0585861085,2008-01-04,3.64,3.93,3.62,3.84,47130.0,0.0,inf
4,CA0585861085,2008-01-07,3.67,3.67,3.45,3.60,34835.0,0.0,inf
...,...,...,...,...,...,...,...,...,...
3112,DE000A0HL8N9,2020-07-13,84.90,84.90,79.00,80.10,14841.0,0.0,inf
3113,DE000A0HL8N9,2020-07-14,81.50,83.90,78.90,81.20,11623.0,0.0,inf
3114,DE000A0HL8N9,2020-07-15,80.60,82.70,78.60,82.00,17815.0,0.0,inf
3115,DE000A0HL8N9,2020-07-16,79.40,80.10,77.20,79.80,11078.0,0.0,inf
3116,DE000A0HL8N9,2020-07-17,79.60,80.30,78.50,79.90,5314.0,0.0,inf

In [112]:
dividends = parse_dividends(all_data, True)
dividends.loc[dividends.amount > 0]

Parsing dividend data.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 31426 entries, 0 to 3116
Data columns (total 12 columns):
symbol            31426 non-null object
effective_date    31426 non-null datetime64[ns]
close             31423 non-null float64
high              31423 non-null float64
low               31423 non-null float64
open              31423 non-null float64
volume            31423 non-null float64
amount            31426 non-null float64
ratio             31426 non-null float64
record_date       0 non-null datetime64[ns]
declared_date     0 non-null datetime64[ns]
pay_date          0 non-null datetime64[ns]
dtypes: datetime64[ns](4), float64(7), object(1)
memory usage: 3.7+ MB
None
         symbol effective_date  close  high   low  open   volume  amount  \
0  CA0585861085     2007-12-28   3.51  3.51  3.43  3.48  28084.0     0.0
1  CA0585861085     2008-01-02   3.65  3.72  3.59  3.64  19930.0     0.0
2  CA0585861085     2008-01-03   3.84  3.85  3.57  3.63  32697.0     0.0
3  CA0585861085     2008-01-04   3.64  3.93  3.62  3.84  47130.0     0.0
4  CA0585861085     2008-01-07   3.67  3.67  3.45  3.60  34835.0     0.0

   ratio record_date declared_date pay_date
0    inf         NaT           NaT      NaT
1    inf         NaT           NaT      NaT
2    inf         NaT           NaT      NaT
3    inf         NaT           NaT      NaT
4    inf         NaT           NaT      NaT

,symbol,effective_date,close,high,low,open,volume,amount,ratio,record_date,declared_date,pay_date
30,NO0003067902,2014-04-23,2.8979,2.8979,2.8979,2.8979,0.0,0.33,inf,NaT,NaT,NaT
282,NO0003067902,2015-04-22,2.5168,2.5168,2.5168,2.5168,0.0,0.62,inf,NaT,NaT,NaT
1046,NO0003067902,2018-04-20,2.2600,2.2600,2.2600,2.2600,0.0,0.30,inf,NaT,NaT,NaT
86,FR0000120073,2008-05-14,59.8100,60.5200,59.8100,60.5200,1895.0,2.25,inf,NaT,NaT,NaT
235,FR0000120073,2009-05-13,NaN,NaN,NaN,NaN,NaN,2.25,inf,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
2095,DE000A0HL8N9,2016-07-06,16.4300,16.6400,16.3900,16.6400,3409.0,0.37,inf,NaT,NaT,NaT
2355,DE000A0HL8N9,2017-07-12,21.0000,21.2900,21.0000,21.2900,111.0,0.40,inf,NaT,NaT,NaT
2605,DE000A0HL8N9,2018-07-05,21.3100,21.4100,20.8200,21.1200,2772.0,0.42,inf,NaT,NaT,NaT
2849,DE000A0HL8N9,2019-06-26,41.2200,41.2200,39.5300,40.7200,24688.0,0.45,inf,NaT,NaT,NaT
3099,DE000A0HL8N9,2020-06-24,68.5000,69.4000,66.0000,67.9000,8220.0,0.45,inf,NaT,NaT,NaT