# Creating a Zipline bundle

## Required data for Zipline

The data for zipline uses the following attributes:

| Data                  | Database name | Zipline name  |
|-----------------------|---------------|---------------|
| symbol (or isin?)     | n/a           | symbol        |
| date                  | Date          | date          |
| unadjusted_open       | Open          | open          |
| unadjusted_high       | High          | high          |
| unadjusted_low        | Low           | low           |
| unadjusted_close      | Close         | close         |
| unadjusted_volume     | Volume        | volume        |
| splits                | Splits        | splits        |
| dividends             | Dividends     | dividends     |

In [2]:
import pandas as pd 
import pg8000
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, String, MetaData
from datetime import datetime, date, timedelta
import math

In [1]:
universe = [
    { 'isin': 'CA0585861085', 'symbol': 'PO0.F', 'name': "Ballard Power" },
    { 'isin': 'GB00B0130H42', 'symbol': 'IJ8.F', 'name': "ITM Power" },
    { 'isin': 'NO0010081235', 'symbol': 'D7G.F', 'name': "Nel" },
    { 'isin': 'SE0006425815', 'symbol': '27W.F', 'name': "Powercell Sweden" },
    { 'isin': 'US72919P2020', 'symbol': 'PLUN.F','name': "Plug Power" },
    { 'isin': 'NO0003067902', 'symbol': '2HX.F', 'name': "Hexagon Composites" },
    { 'isin': 'FR0000120073', 'symbol': 'AIL.DE','name': "Air Liquide" },
    { 'isin': 'IE00BZ12WP82', 'symbol': 'LIN.F', 'name': "Linde" },
    { 'isin': 'US2310211063', 'symbol': 'CUM.F', 'name': 'Cummins'} ,
    { 'isin': 'FR0011742329', 'symbol': 'M6P.F', 'name': 'McPhy Energy S.A.'},    
    # { 'isin': 'US6541101050', 'name': 'Nikola Corporation','symbol': '8NI.F' }, 
    { 'isin': 'DE000A0HL8N9', 'name': '2G Energy',  'symbol': '2GB.DE' }
]

In [3]:
connection_def = "postgresql+pg8000://quotes:clue0QS-train@raspberrypi/quotes"
engine = create_engine(connection_def)

In [33]:
isin = 'CA0585861085'

data_table = pd.read_sql(isin, engine,index_col=False, parse_dates={'Dates': '%Y-%m-%d'})

# rename to columns that zipline can process
data_table.rename(columns={
        'Date': 'date',
        'Open': 'open',
        'High': 'high',
        'Low': 'low',
        'Close': 'close',
        'Volume': 'volume',
        'Stock Splits': 'split_ratio'
    }, inplace=True, copy=False)

# insert symbol column as the first column, all values set to isin value.
data_table.insert(0, 'symbol', isin)

data_table.sort_values( ['symbol', 'date'], ascending=[True, True] )
data_table

,symbol,date,close,high,low,open,volume,Dividends,split_ratio
0,CA0585861085,2007-12-28,3.51,3.51,3.43,3.48,28084,0.0,0.0
1,CA0585861085,2008-01-02,3.65,3.72,3.59,3.64,19930,0.0,0.0
2,CA0585861085,2008-01-03,3.84,3.85,3.57,3.63,32697,0.0,0.0
3,CA0585861085,2008-01-04,3.64,3.93,3.62,3.84,47130,0.0,0.0
4,CA0585861085,2008-01-07,3.67,3.67,3.45,3.60,34835,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2902,CA0585861085,2020-07-13,16.75,18.74,16.67,18.51,219083,0.0,0.0
2903,CA0585861085,2020-07-14,16.74,16.99,15.74,16.25,436763,0.0,0.0
2904,CA0585861085,2020-07-15,17.71,18.00,16.63,17.29,179236,0.0,0.0
2905,CA0585861085,2020-07-16,17.11,17.98,16.85,17.80,177626,0.0,0.0
2906,CA0585861085,2020-07-17,16.97,17.30,16.65,16.82,107488,0.0,0.0