# Creating a Zipline bundle

## Required data for Zipline

The data for zipline uses the following attributes:

| Data                  | Database name | Zipline name  |
|-----------------------|---------------|---------------|
| symbol (or isin?)     | n/a           | symbol        |
| date                  | Date          | date          |
| unadjusted_open       | Open          | open          |
| unadjusted_high       | High          | high          |
| unadjusted_low        | Low           | low           |
| unadjusted_close      | Close         | close         |
| unadjusted_volume     | Volume        | volume        |
| splits                | Splits        | splits        |
| dividends             | Dividends     | dividends     |

In [1]:

%matplotlib inline

In [2]:
import pandas as pd 
import pg8000
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, String, MetaData
from datetime import datetime, date, timedelta
import math
import numpy as np

In [3]:
universe = [
    { 'isin': 'CA0585861085', 'symbol': 'PO0.F', 'name': "Ballard Power" },
    { 'isin': 'GB00B0130H42', 'symbol': 'IJ8.F', 'name': "ITM Power" },
    { 'isin': 'NO0010081235', 'symbol': 'D7G.F', 'name': "Nel" },
    { 'isin': 'SE0006425815', 'symbol': '27W.F', 'name': "Powercell Sweden" },
    { 'isin': 'US72919P2020', 'symbol': 'PLUN.F','name': "Plug Power" },
    { 'isin': 'NO0003067902', 'symbol': '2HX.F', 'name': "Hexagon Composites" },
    { 'isin': 'FR0000120073', 'symbol': 'AIL.DE','name': "Air Liquide" },
    { 'isin': 'IE00BZ12WP82', 'symbol': 'LIN.F', 'name': "Linde" },
    { 'isin': 'US2310211063', 'symbol': 'CUM.F', 'name': 'Cummins'} ,
    { 'isin': 'FR0011742329', 'symbol': 'M6P.F', 'name': 'McPhy Energy S.A.'},    
    # { 'isin': 'US6541101050', 'name': 'Nikola Corporation','symbol': '8NI.F' }, 
    { 'isin': 'DE000A0HL8N9', 'name': '2G Energy',  'symbol': '2GB.DE' }
]

In [4]:
connection_def = "postgresql+pg8000://quotes:clue0QS-train@raspberrypi/quotes"
engine = create_engine(connection_def)

In [11]:
data_list = []

for asset in universe:
    isin = asset['isin']
    symbol=asset['symbol']
    data_table = pd.read_sql_table(isin, engine,index_col='Date', parse_dates=[{'Date': '%Y-%m-%d'}])

    # rename to columns that zipline can process
    data_table.rename(columns={
            'Date': 'date',
            'Open': 'open',
            'High': 'high',
            'Low': 'low',
            'Close': 'close',
            'Volume': 'volume',
            'Dividends': 'dividends',
            'Stock Splits': 'split_ratio'
        }, inplace=True, copy=False)

    data_table.index.rename('date', inplace=True)
    data_list.append(data_table);

all_data = pd.concat(data_list, axis=0)
all_data

            close   high    low   open   volume  dividends  split_ratio
date
2007-12-28   3.51   3.51   3.43   3.48  28084.0       0.00          0.0
2008-01-02   3.65   3.72   3.59   3.64  19930.0       0.00          0.0
2008-01-03   3.84   3.85   3.57   3.63  32697.0       0.00          0.0
2008-01-04   3.64   3.93   3.62   3.84  47130.0       0.00          0.0
2008-01-07   3.67   3.67   3.45   3.60  34835.0       0.00          0.0
2008-01-08   3.56   3.66   3.53   3.66  11928.0       0.00          0.0
2008-01-09   3.36   3.47   3.36   3.47  18827.0       0.00          0.0
2008-01-10   3.46   3.50   3.38   3.44  31148.0       0.00          0.0
2008-01-11   3.38   3.41   3.30   3.41  35755.0       0.00          0.0
2008-01-14   3.28   3.32   3.21   3.28  30183.0       0.00          0.0
2008-01-15   3.21   3.40   3.21   3.36  27240.0       0.00          0.0
2008-01-16   3.25   3.27   3.12   3.20  16396.0       0.00          0.0
2008-01-17   3.18   3.28   3.11   3.26  14929.0       0.00          0.0
2008-01-18   3.03   3.19   3.03   3.19   8380.0       0.00          0.0
2008-01-21   2.95   3.03   2.86   3.03  46053.0       0.00          0.0
2008-01-22   3.07   3.07   2.60   2.75  87930.0       0.00          0.0
2008-01-23   2.90   3.13   2.85   3.08  28812.0       0.00          0.0
2008-01-24   3.04   3.07   2.95   3.00  34347.0       0.00          0.0
2008-01-25   3.05   3.16   3.05   3.09  17970.0       0.00          0.0
2008-01-28   2.99   3.02   2.96   2.99  28542.0       0.00          0.0
2008-01-29   3.08   3.10   2.97   3.00  26063.0       0.00          0.0
2008-01-30   3.10   3.16   3.10   3.10  21333.0       0.00          0.0
2008-01-31   3.06   3.09   3.00   3.06  13174.0       0.00          0.0
2008-02-01   3.18   3.18   3.06   3.06   9275.0       0.00          0.0
2008-02-04   3.24   3.24   3.13   3.18  10079.0       0.00          0.0
2008-02-05   3.20   3.20   3.13   3.16   4560.0       0.00          0.0
2008-02-06   3.20   3.23   3.11   3.12   5927.0       0.00          0.0
2008-02-07   3.13   3.14   3.08   3.09   8166.0       0.00          0.0
2008-02-08   3.12   3.15   3.03   3.08  13040.0       0.00          0.0
2008-02-11   3.20   3.20   3.09   3.09   8815.0       0.00          0.0
...           ...    ...    ...    ...      ...        ...          ...
2020-06-09  54.23  57.61  54.13  57.61   9298.0       0.00          0.0
2020-06-10  58.11  58.60  55.43  55.52  18725.0       0.00          0.0
2020-06-11  61.48  63.87  58.60  58.60  27248.0       0.00          0.0
2020-06-12  67.54  71.42  59.70  60.59  44313.0       0.00          0.0
2020-06-15  63.87  68.54  63.57  68.54  32363.0       0.00          0.0
2020-06-16  65.95  66.65  64.07  65.16  17010.0       0.00          0.0
2020-06-17  64.96  67.44  64.36  67.44   6038.0       0.00          0.0
2020-06-18  59.00  63.37  57.91  62.58  23830.0       0.00          0.0
2020-06-19  63.47  63.57  60.29  61.09  11857.0       0.00          0.0
2020-06-22  62.18  64.96  60.79  63.57   8949.0       0.00          0.0
2020-06-23  66.55  69.93  63.17  63.37  17316.0       0.00          0.0
2020-06-24  68.50  69.40  66.00  67.90   8220.0       0.45          0.0
2020-06-25  67.30  68.80  66.80  67.90   7525.0       0.00          0.0
2020-06-26  62.80  67.00  61.00  66.30  12278.0       0.00          0.0
2020-06-29  68.00  68.40  62.50  64.90  10696.0       0.00          0.0
2020-06-30  67.30  69.60  65.70  68.60  16086.0       0.00          0.0
2020-07-01  67.50  68.00  65.70  67.00   7391.0       0.00          0.0
2020-07-02  67.80  68.40  67.30  67.70   8093.0       0.00          0.0
2020-07-03  68.60  70.40  68.00  68.10   9067.0       0.00          0.0
2020-07-06  75.10  75.50  69.30  69.30  24010.0       0.00          0.0
2020-07-07  75.80  76.40  72.70  74.50  13947.0       0.00          0.0
2020-07-08  79.00  84.70  75.50  76.30  30296.0       0.00          0.0
2020-07-09  79.10  83.90  76.40  82.50  25622.0       0.00          0.0
2020-07-10  78.60  81.40  77.40  81.40   9572.0       0.00          0.0
2020-07-13  84.90  84.90  79.00  80.10  14841.0       0.00          0.0
2020-07-14  81.50  83.90  78.90  81.20  11623.0       0.00          0.0
2020-07-15  80.60  82.70  78.60  82.00  17815.0       0.00          0.0
2020-07-16  79.40  80.10  77.20  79.80  11078.0       0.00          0.0
2020-07-17  79.60  80.30  78.50  79.90   5314.0       0.00          0.0
2020-07-20  81.30  81.80  78.00  79.00   8819.0       0.00          0.0

[31437 rows x 7 columns]

### Parse metadata

In [159]:
def gen_asset_metadata(data):

    metadata = data.groupby(
        by='symbol',
    ).agg(
        {'date': [np.min, np.max]}
    )
    metadata.reset_index(inplace=True)
    metadata['start_date'] = metadata.date.amin
    metadata['end_date'] = metadata.date.amax
    metadata['auto_close_date'] = metadata['end_date'].values + pd.Timedelta(days=1)
    del metadata['date']
    return metadata

In [160]:
metadata = gen_asset_metadata(all_data)
metadata

    symbol start_date   end_date auto_close_date

0    27W.F 2017-11-09 2020-07-17      2020-07-18
1   2GB.DE 2007-07-31 2020-07-17      2020-07-18
2    2HX.F 2014-03-10 2020-07-17      2020-07-18
3   AIL.DE 2007-12-28 2020-07-17      2020-07-18
4    CUM.F 2001-02-22 2020-07-17      2020-07-18
5    D7G.F 2017-10-09 2020-07-17      2020-07-18
6    IJ8.F 2006-03-02 2020-07-17      2020-07-18
7    LIN.F 2000-09-18 2020-07-17      2020-07-18
8    M6P.F 2014-03-26 2020-07-17      2020-07-18
9   PLUN.F 2000-01-03 2020-07-17      2020-07-18
10   PO0.F 2007-12-28 2020-07-17      2020-07-18

### Parse dividends

In [161]:

def parse_dividends(data, show_progress):
    tmp = data[data['dividends'] != 0.0][['symbol', 'date', 'dividends']]
    tmp = tmp.rename(columns={'date': 'ex_date', 'dividends': 'amount'})
    tmp['record_date'] = tmp['declared_date'] = tmp['pay_date'] = pd.NaT
    return tmp

In [162]:
    parse_dividends(all_data, False)

      symbol    ex_date  amount record_date declared_date pay_date
30     2HX.F 2014-04-23    0.33         NaT           NaT      NaT
282    2HX.F 2015-04-22    0.62         NaT           NaT      NaT
1046   2HX.F 2018-04-20    0.30         NaT           NaT      NaT
86    AIL.DE 2008-05-14    2.25         NaT           NaT      NaT
235   AIL.DE 2009-05-13    2.25         NaT           NaT      NaT
...      ...        ...     ...         ...           ...      ...
2095  2GB.DE 2016-07-06    0.37         NaT           NaT      NaT
2355  2GB.DE 2017-07-12    0.40         NaT           NaT      NaT
2605  2GB.DE 2018-07-05    0.42         NaT           NaT      NaT
2849  2GB.DE 2019-06-26    0.45         NaT           NaT      NaT
3099  2GB.DE 2020-06-24    0.45         NaT           NaT      NaT

[106 rows x 6 columns]

### Parse splits

In [163]:
def parse_splits(data, show_progress):
    splits = data[data['split_ratio'] != 0.0][['symbol', 'date', 'split_ratio']]

    splits['ratio'] = 1.0 / splits['split_ratio']
    splits.rename(
        columns={
            'date': 'effective_date'
            #'split_ratio': 'ratio',
        },
        inplace=True,
        copy=False,
    )
    del splits['split_ratio']

    if show_progress:
        print(splits.info())
        print(splits.head())

    return splits

In [164]:
splits = parse_splits(all_data, False)
splits

      symbol effective_date      ratio
2749  PLUN.F     2011-05-20  10.000000
695   AIL.DE     2012-05-31   0.909091
2556  AIL.DE     2019-10-07   0.909091
2558  AIL.DE     2019-10-09   0.909091
813    LIN.F     2003-12-16   0.500000

## Symbols etc

In [170]:
symbols = [asset['symbol'] for asset in universe]
for sid, asset in enumerate(universe):
    symbol = asset['symbol']
    isin = asset['isin']
    df = pd.read_sql(isin, engine,index_col='Date', parse_dates={'Date': '%Y-%m-%d'})

    # Check first and last date.
    start_date = df.index[0]
    end_date = df.index[-1]

    print(start_date, "-", end_date)

2007-12-28 00:00:00 - 2020-07-17 00:00:00
2006-03-02 00:00:00 - 2020-07-17 00:00:00
2017-10-09 00:00:00 - 2020-07-17 00:00:00
2017-11-09 00:00:00 - 2020-07-17 00:00:00
2000-01-03 00:00:00 - 2020-07-17 00:00:00
2014-03-10 00:00:00 - 2020-07-17 00:00:00
2007-12-28 00:00:00 - 2020-07-17 00:00:00
2000-09-18 00:00:00 - 2020-07-17 00:00:00
2001-02-22 00:00:00 - 2020-07-17 00:00:00
2014-03-26 00:00:00 - 2020-07-17 00:00:00
2007-07-31 00:00:00 - 2020-07-17 00:00:00