In [121]:
import sqlalchemy
import investpy
import pandas

In [122]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+pg8000://quotes:clue0QS-train@raspberrypi/quotes')

In [123]:
asset = {
    'name': 'iShares MSCI World Value Factor UCITS',
    'isin': 'IE00BP3QZB59'
}
df = investpy.get_etf_recent_data(etf=asset['name'], country='germany')
df.head()

            Close Currency Exchange   High    Low   Open
Date
2020-06-02  24.27      EUR    Xetra  24.43  24.16  24.19
2020-06-03  24.74      EUR    Xetra  24.75  24.42  24.42
2020-06-04  24.54      EUR    Xetra  24.64  24.43  24.56
2020-06-05  25.60      EUR    Xetra  25.89  24.77  24.77
2020-06-08  25.67      EUR    Xetra  25.83  25.40  25.40

## DDL 
```sql
-- Drop table

-- DROP TABLE public."IE00BP3QZB59";

CREATE TABLE "IE00BP3QZB59" (
	"Date" timestamp NULL,
	"Close" float8 NULL,
	"Currency" text NULL,
	"Exchange" text NULL,
	"High" float8 NULL,
	"Low" float8 NULL,
	"Open" float8 NULL
);

CREATE INDEX "ix_IE00BP3QZB59_Date" ON public."IE00BP3QZB59" USING btree ("Date");
```

In [124]:
sql = """
    CREATE TABLE "{isin}" IF NOT EXISTS (
        "Date" timestamp NULL,
        "Close" float8 NULL,
        "Currency" text NULL,
        "Exchange" text NULL,
        "High" float8 NULL,
        "Low" float8 NULL,
        "Open" float8 NULL
    );    
"""
sql.format(isin="XXX").strip(' \n\t')

'CREATE TABLE "XXX" IF NOT EXISTS (\n        "Date" timestamp NULL,\n        "Close" float8 NULL,\n        "Currency" text NULL,\n        "Exchange" text NULL,\n        "High" float8 NULL,\n        "Low" float8 NULL,\n        "Open" float8 NULL\n    );'

In [103]:

df.to_sql(asset['isin'], engine, if_exists='append')

In [125]:
stored = pandas.read_sql(asset['isin'], engine)
stored

         Date  Close Currency Exchange   High    Low   Open
0  2020-06-02  24.27      EUR    Xetra  24.43  24.16  24.19
1  2020-06-03  24.74      EUR    Xetra  24.75  24.42  24.42
2  2020-06-04  24.54      EUR    Xetra  24.64  24.43  24.56
3  2020-06-05  25.60      EUR    Xetra  25.89  24.77  24.77
4  2020-06-08  25.67      EUR    Xetra  25.83  25.40  25.40
5  2020-06-09  25.25      EUR    Xetra  25.83  25.14  25.77
6  2020-06-10  25.00      EUR    Xetra  25.44  24.94  25.39
7  2020-06-11  23.75      EUR    Xetra  24.36  23.67  24.24
8  2020-06-12  23.93      EUR    Xetra  24.17  23.60  23.60
9  2020-06-15  23.60      EUR    Xetra  23.67  23.04  23.29
10 2020-06-16  24.40      EUR    Xetra  24.73  24.14  24.18
11 2020-06-17  24.51      EUR    Xetra  24.67  24.41  24.41
12 2020-06-18  24.27      EUR    Xetra  24.40  24.10  24.22
13 2020-06-19  24.35      EUR    Xetra  24.50  24.32  24.32
14 2020-06-22  24.01      EUR    Xetra  24.24  23.98  24.10
15 2020-06-23  24.29      EUR    Xetra  24.36  24.14  24.14
16 2020-06-24  23.56      EUR    Xetra  24.10  23.56  24.08
17 2020-06-25  23.59      EUR    Xetra  23.67  23.33  23.38
18 2020-06-26  23.48      EUR    Xetra  23.91  23.48  23.85
19 2020-06-29  23.64      EUR    Xetra  23.66  23.31  23.36

In [105]:
from datetime import datetime, timedelta
latest = stored['Date'].max().date()
latest.strftime('%d/%m/%Y')             # Format required by investpy.get_etc_xxx..(methods)

'29/06/2020'

In [106]:
now = datetime.today().date()
now.strftime('%d/%m/%Y')

'30/06/2020'

In [110]:
now == latest

False

In [108]:
from_date = (latest + timedelta(days=1))

if from_date < now:
    download = investpy.etfs.get_etf_historical_data(
        asset['name'],
        'germany',
        from_date,
        now
    )
    print(download)
else:
    print("Data is up to date: ", latest)

Data is up to date:  2020-06-29

In [ ]:
result = engine.execute("SELECT MAX(Date) FROM {isin}".format(isin=asset['isin']))